@media screen and (orientation: portrait) {

    .f8,
    .f7 {
        display: none;
    }

    .f2 {
        height: calc(42vh + 4.5%);
    }

    .f5 {
        font-size: 2vh;
        max-height: 42vh;
    }
}

@media screen and (orientation: landscape) {

    .c8,
    .d1,
    .f2 {
        display: none;
    }

    .g2 {
        height: calc(42vh + 10%);
    }

    .f5 {
        font-size: 2vh;
        max-height: 42vh;
    }
}



@media only screen and (min-width:1px) and (max-width: 300px) {

    .a5,
    .b1 {
        width: 88%;
    }
}

@media only screen and (min-width:301px) and (max-width: 600px) {

    .a5,
    .b1 {
        width: 44%;
    }

    .a4,
    .b6,
    .e5 {
        font-size: 80%;
    }

    .c9,
    .d4,
    .d8,
    .f5 {
        font-size: 1.8vh;
    }

    .c4,
    .d2,
    .e1,
    .e7,
    .e8,
    .f3 {
        font-size: 100%;
    }

    .d5 svg {
        width: 74.1%;
    }

    .f1 {
        padding: 1%;
    }

    .a2 {
        width: 45%;
        margin: 5% auto 10% auto;
    }

    .c2 {
        width: 90%;
        margin: 3%;
    }
}

@media only screen and (min-width:601px) and (max-width: 900px) {

    .a5,
    .b1 {
        width: 29.3%
    }

    .a4,
    .b6,
    .e5 {
        font-size: 70%;
    }

    .c9,
    .d4,
    .d8,
    .f5 {
        font-size: 80%;
    }

    .c4,
    .d2,
    .e1,
    .e7,
    .e8,
    .f3 {
        font-size: 90%;
    }

    .d5 svg {
        width: 74.1%;
    }

    .f1 {
        padding: 1%;
    }

    .a2 {
        width: 45%;
        margin: 5% auto 10% auto;
    }

    .c2 {
        width: 90%;
    }
}

@media only screen and (min-width:901px) and (max-width: 1200px) {

    .a5,
    .b1 {
        width: 22%
    }

    .a4,
    .b6,
    .e5 {
        font-size: 80%;
    }

    .c9,
    .d4,
    .d8,
    .f5 {
        font-size: 90%;
    }

    .c4,
    .d2,
    .e1,
    .e7,
    .e8,
    .f3 {
        font-size: 100%;
    }

    .d5 svg {
        width: 74.1%;
    }

    .f1 {
        padding: 1%;
    }

    .a2 {
        width: 45%;
        margin: 5% auto 10% auto;
    }

    .c2 {
        width: 90%;
    }
}

@media only screen and (min-width:1201px) and (max-width: 1500px) {

    .a5,
    .b1 {
        width: 17.6%
    }

    .a4,
    .b6,
    .e5 {
        font-size: 80%;
    }

    .c9,
    .d4,
    .d8,
    .f5 {
        font-size: 90%;
    }

    .c4,
    .d2,
    .e1,
    .e7,
    .e8,
    .f3 {
        font-size: 100%;
    }

    .d5 svg {
        width: 74.1%;
    }

    .f1 {
        padding: 1%;
    }

    .a2 {
        width: 45%;
        margin: 5% auto 10% auto;
    }

    .c2 {
        width: 90%;
    }
}

@media only screen and (min-width:1501px) {

    .e7:hover,
    .e8:hover {
        background-color: rgba(50, 50, 50, 0.8);
    }

    .e5:hover {
        background-color: rgba(50, 50, 50, 0.8);
    }

    .a2,
    .a5,
    .a8,
    .b4,
    .b5,
    .c1,
    .c3,
    .d9,
    .f9,
    .g1,
    .g2 {
        border-radius: 15px;
    }

    .c7 {
        border-radius: 0px 0px 15px 15px;
    }
}